.formquestion,
.titleandcontent {
  width: 100%;
  max-width: var(--width-1020);
  min-height: var(--height-1);
}
.formquestion {
  max-width: var(--width-510);
}
.formquestion2,
.formquestion5 {
  align-self: stretch;
  min-height: var(--height-1);
}
.formquestion5 {
  max-width: 100%;
}
.container {
  width: 100%;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0;
  gap: var(--gap-21xl);
  max-width: 1020px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .titleandcontent {
    max-width: var(--width-1020);
  }
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .formquestion {
    max-width: var(--width-510);
  }
  .container {
    gap: var(--gap-xl);
  }
}
