.footer {
  width: 100%;
  background-color: var(--color-spring-green-14);
  min-height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-5xl) var(--padding-101xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--footer-size);
  color: var(--color-white-solid);
  font-family: "Lloyds Bank Jack Web";
}

.footerLinks {
  text-decoration: underline;
  position: relative;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: var(--padding-5xl) var(--padding-xl);
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: var(--padding-base) var(--padding-xs);
  }
}
