/* Container */
.titleandcontent {
  width: 100%;
  max-width: var(--width-1020);
  min-height: var(--height-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}

/* Header text */
.strongMortgage {
  width: 153px;
  line-height: 24px;
  display: flex;
  align-items: center;
  font-family: "Lloyds Bank Jack Web";
}

/* Main title */
.heading1 {
  margin: 0;
  font-family: "Lloyds Bank Jack Web";
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
  color:  var(--color-spring-green-14));
}

/* Content section */
.copy {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content {
  align-self: stretch;
  font-family: "Lloyds Bank Jack";
  font-size: 18px;
  line-height: 24px;
  color: #505050;
}

.secondaryContent {
  font-family: "Lloyds Bank Jack Web";
}
